* {
	padding: 0;
	margin: 0;
}

.total {
    width: 100%;
    height: auto;
    min-height: 300px;
    padding: 0 0px;
}

.back {
    width: 100%;
    height: 600px;
    position: relative;
    background-image: url("./cbg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.header {
    position: relative;
    padding: 60px 66px;
}

.header .logo {
	float: left;
	height: 100px;
	width: auto;
	padding: 10px;
}

.header .menu a:hover {
	float: right;
}

.menu ul li {
	list-style: none;
	display: inline-block;
}

.menu ul li a {
	display: block;
	padding: 10px;
	color: white;
	text-decoration: none;
	font-size: 20px;
}

.slogan {
	position: absolute;
	top: 50%;
	left: 25%;
	color: burlywood;
	font-family: monospace;
}

.context-title {
	padding: 20px;
	text-align: center;
	background-color: #ffd9b3;
}	

.context-title h2{
	font-family: monospace;
	font-size: 30px;
}

.context p {
	font-size: 20px;
	text-align: center;
}
.bike{
	float: left;
	padding: 20px;
	height: 50%;
	width: auto;
	
	
}

.next {
	padding: 10px;
	/*display: inline-block;*/
	clear: both;
}

.inn {
	padding: 10px;
	background-image: url("./map.jpg");
	text-align: center;
}

.inn h3 {
	padding: 10px;
	font-size: 25px;
}

.inn ul {
	padding: 5px;
	font-size: 20px;
}

.inn li {
	padding: 5px;
}

.foot {
	padding: 10px;
	display: inline-block;
	background-color: lightgray;
}

.foot h4 {
	padding: 10px;
	font-size: 30px;
	font-family: monospace;
	text-align: center;
}

.foot p {
	padding: 10px;
	font-size: 25px;
}
